$def with(jugador)
<h3>
    <a href="/jugador">jugador</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>jugador</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in jugador:
        <tr>
            <td><a href='/jugador/view/$item.Idjugador'>$item.Nombre $item.Ap_paterno $item.Ap_materno</a></td>
            <td><a href='/jugador/edit/$item.Idjugador'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/jugador/delete/$item.Idjugador'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>