$def with(juego)
<h3>
    <a href="/juego">juego</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>juego</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in juego:
        <tr>
            <td><a href='/juego/view/$item.idjuego'>$item.nombrejuego</a></td>
            <td><a href='/juego/edit/$item.idjuego'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/juego/delete/$item.idjuego'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>