$def with(logros)
<h3>
    <a href="/logros">logros</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>logros</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in logros:
        <tr>
            <td><a href='/logros/view/$item.Id_logros'>$item.nombre_logro</a></td>
            <td><a href='/logros/edit/$item.Id_logros'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/logros/delete/$item.Id_logros'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>